# .gitignore file

# MPLAB X IDE (Netbeans) specific
**/*.X/~*.*
**/*.X/build/
**/*.X/debug/
**/*.X/dist/
**/*.X/disassembly/
**/*.X/.generated_files/
**/*.X/nbproject/private/
**/*.X/nbproject/*.mk
**/*.X/nbproject/*.bash
**/*.X/nbproject/Makefile-genesis.properties

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe


# KDE specific
.directory

# Misc
.svn
*.bak

.generated_files
defmplabxtrace.log
defmplabxtrace.log.inx
build/default/debug/*.*
build/default/production/*.*
dist/default/debug/*.*
dist/default/production/*.*
nbproject/*.mk
nbproject/private/*
